:root {
	--calc-width: 40vw;
	--calc-min-width: 400px;
	--flex-gap: 0px;
	background-color: grey;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: var(--flex-gap);
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: var(--flex-gap);
}

.calculatorModel {
	margin: auto;
	margin-top: 15vh;
	width: max(var(--calc-width), var(--calc-min-width));

	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	overflow: hidden;

	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.display {
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: calc(var(--calc-min-width) * 0.05);
	justify-content: space-around;
	text-align: right;

	background-color: black;
	color: white;

	font-weight: 900;
	font-size: 1.5rem;
	font-family: "Courier New", Courier, monospace;
}

.numberRow {
	display: flex;
	flex-direction: row;
	gap: var(--flex-gap);
	justify-content: space-evenly;
}

.btn-top-menu {
	width: 100%;
	padding-top: 7.5%;
	padding-bottom: 7.5%;

	background-color: rgb(189, 189, 189);
	font-weight: 0;
	font-size: 1.25em;
}

.btn-number {
	width: calc(max(var(--calc-width), var(--calc-min-width)) * 0.25);
	padding-top: 10%;
	padding-bottom: 10%;

	font-weight: 0;
	font-size: 1em;
}

.btn-equal {
	height: 100%;

	background-color: rgb(188, 98, 98);
	font-size: 2rem;
	/* border: none; */
}
