.App {
	/* Const */
	--app-padding: 1rem;
	--app-font-size: 20px;

	font-family: "Raleway", sans-serif;
	text-align: left;
	font-size: var(--app-font-size);
	padding: var(--app-padding);
}

.flexColumn {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.biggerTitle {
	font-size: 1em;
	font-weight: 900;
	letter-spacing: 2px;
}

.bigTitle {
	font-size: 0.8em;
	font-weight: 700;
}
