#root {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	align-items: center;
}

#title {
	margin-bottom: 0;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 2rem;
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10vw;
}

.searchField {
	width: 25vw;
	margin: auto;
	text-align: center;
}

.dataEntry {
	margin: auto;
	/* border: 1px solid grey; */
	width: 70vw;
}

.dataField {
	width: 100%;
	text-align: center;
}

.infoButton {
	width: 10vw;
	height: 50px;
	/* align-self: right; */
}

.infoBlock {
	gap: 1vw;
	align-items: center;
	margin-bottom: 10vh;
}

.infoField {
	/* width: 100%; */
	/* font-size: 0.8em; */
	text-align: center;
}
